<!-- <div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary" >
              <th>
                Rail Car
              </th>
              <th>
              Type
              </th>
              <th>
              Car On Hand
              </th>
              <th>
              Load
              </th>
               <th>
              Empty
              </th>
              <th>
                Action
                </th>
            </thead>
            <tbody *ngFor="let item of listData">
              <tr >
                <td>
                  {{item.name}}
                </td>
                <td>
                  {{item.color}}
                </td>
                <td>
                258
                </td>
                <td >
                 172
                </td>
                <td >
                  86
                 </td>
                 <td >
                  <button type="button" class="btn btn-warning mr-1" >Edit</button>
                  <button type="button" class="btn btn-danger mr-1" (click)="deleteemployee(item.id)">Delete</button>
                 </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
   
</div> -->
